{# Strona logowania #}
{% extends "fleet_mng/_base.html" %}

{% block content %}

{% if form.errors %}
<p>Błąd. Spróbuj ponownie.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Niewystarczające prawa dostępu. Zaloguj się na
    konto z odpowiednimi prawami.</p>
    {% else %}
    <p>Zaloguj się aby zobaczyć tą stronę.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <!-- <td>Login:</td> -->
    <td><input type="text" name="{{ form.username.html_name }}" autofocus required autocomplete="username"
           id="id_{{ form.username.html_name }}" />
    </td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td><input type="password" name="{{ form.password.html_name }}" required autocomplete="current-password"
           id="id_{{ form.password.html_name }}" />
    </td>
</tr>
</table>
<div class="buttons_row">
  <button type="submit" class="btn btn-primary">Zaloguj</button>
  <a href="{% url 'password_reset' %}" class="btn">
    <button type="submit" class="btn btn-danger">Przypomnij hasło</button>
  </a>
</div>

<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}
