body {
  width: 100%;
}

.main {
  width: 100%;
  height: 100%;
}

/* ------------------------------------------ */
/* NAV MENU LAYOUT */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  margin: 0px
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  display: block;
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 768px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  .main-content {
    margin-left: 15px;
    padding-right: 15px;
    padding-left: 300px;
  }
}

/* ------------------------------------------ */
/* USER BAR LAYOUT */
.top-bar {
  display: block;
  color: #E1FFFF;
  width: 100%;
  height: 50px;
  text-align: right;
  margin: 0px 50px 20px 0px;
  /* border: 1px solid black; */
  padding: 10px 20px 10px 0px;
  background-color: #23282e;
}

.user-ticket {
  line-height: 50px;
  display: block;
  text-align: right;
  font-size: 14px;
}

.beta_indicator {
    margin-left: 330px;
    float: left;
    color: coral;
}
@media (max-width: 767px) {
.beta_indicator {
    margin-left: 15px;
}
}
/* ------------------------------------------ */

#newrentbt {
  display: block;
  float: left;
  text-align: center;
  font-size: 0.8em;
  width: 130px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  padding: 5px 5px;
  margin: 0px 1px 1px 0px;
  border: 1px solid navy;
  border-radius: 3px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 3px gray;
  -moz-box-shadow: 0px 2px 3px gray;
  -webkit-box-shadow: 0px 2px 3px gray;
}

.content-display {
  overflow: auto;
  height: 100%;
  border: 0px solid black;
  max-width: 1230px;
}

.btn {
  margin-left: 13px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item-action {
    width: 100%;
    color: #495057;
    text-align: inherit;
}

.list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

ul.item-list {
  padding-right: 40px;
}

.field_name {
    font-weight: bolder;
}

.main-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* DELETED ITEMS LAYOUT */
.item_deleted a {
    position: relative;
    margin: 1em;
}

.item_deleted a:before {
    content: "\f00d";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: red;
    position: absolute;
    left: -1em;
}

/* RENTED ITEMS LAYOUT */
.has_rents a:after {
    content: " \f1b9";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: smaller;
    color: black;
}

.is_free a {
    font-weight: bold;
}

/* ITEMS TABLES LAYOUT */
#items-table {
  width: 100%;
}

#items-table th {
  width: 50%;
}

#items-table td {
  width: 50%;
}

#items-table .not_bring_back {
  color: red;
}

/* BUTTONS ROWS LAYOUT */
.buttons_row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons_row > * {
    display:inline-block;
}

/* FORMS LAYOUT */
.fieldWrapper {
  /* margin-left: 15%;
  margin-right: 15%; */
  margin-bottom: 1rem;
  display: inline-grid;
}
