#week_table {
    border-spacing: 0px;
}
#week_table td {
    padding: 0;
    vertical-align: middle;
    border: 0;
}
#week_table td:nth-child(2n) {
	background-color: #e8e8e8;
}
tr.is_rented th a {
  font-weight: normal;
}

.rent_wrapper{
    display: inline-flex;
    width: 100%;
    align-content: center;
}
.rent_wrapper a {
    display: inline-flex;
    flex-grow: 1;
    height: 1rem;
    background: #a9ffb0;
    border: 1px solid #000000;
    margin-top: auto;
    margin-bottom: auto;
}

.rent_wrapper .start_rent {
    border-radius: 3px 0px 0px 3px;
    border-right: 0px;
    margin-left: 1px;
}
.rent_wrapper .end_rent {
    border-radius: 0px 3px 3px 0px;
    border-left: 0px;
    margin-right: 1px;
}
.rent_wrapper .start_end_rent {
    border-radius: 3px;
    margin-left: 1px;
    margin-right: 1px;
}
.rent_wrapper .mid_rent {
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
}
.rent_bar {
    white-space: nowrap;
    justify-items: stretch;
}

.rent_wrapper .rented{
    background: #d5f4fd;
}

.rent_wrapper .not_back{
    background: #ff212a;
}

.day_name {
    width: 1.1em;
}