<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'fleet_mng/favicon-32x32.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% if dock %}{% static 'fleet_mng/style.min.css' %}{%else%}{% static 'fleet_mng/style.css' %}{%endif%}">
    {% block css_link %}{% endblock %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tempusdominus-bootstrap-4.min.css' %}">
    <title>{% block title %}MAGMA VMS - Vehicle Management System{% endblock %}</title>
</head>
<body>
  <div class="main-container">
    {% include "fleet_mng/_navbar.html" %}
    {% include "fleet_mng/_userbar.html" %}
    <div class="main-content">
      <div id="content" class="content-display">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
{% comment %}
{% endcomment %}
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
