{# Wyświetlenie formularza z dostarczonych danych #}
<form method="post" novalidate>
    {% csrf_token %}
    <div class="container">
        {% for field in form %}
        {% if field.is_hidden %}{{ field }}{% else %}
        <div class="row">
            <label class="col-4"><strong>{{ field.label_tag }}</strong></label>
            <div class="col-8">
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% if field.errors %}
                {% for error in field.errors %}
                <div id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="alert alert-danger alert-dismissible"
                     role="alert">
                    <strong>{{ error }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
        <div class="alert alert-block alert-danger">
            {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
            <ul>
                {{ form.non_field_errors|unordered_list }}
            </ul>
        </div>
        {% endif %}
        <div class="buttons_row">
            <button type="submit" class="btn btn-success">Zapisz</button>
            <a href="{% url 'fleet_mng:week' %}" class="btn">
                <button class="btn btn-primary btn-xs" type="button">Anuluj</button>
            </a>
        </div>
    </div>
</form>
