      <thead>
        <tr>
            <th rowspan="2">
                Pojazdy
            </th>
            {% for day in days %}{%if forloop.counter0|divisibleby:7 %}
            <th colspan="7">{{ day }}</th>
            {%endif%}
            {% endfor %}
        </tr>
        <tr>
            {% load index %}
            {% for week_day in week_days %}
            <th data-toggle="tooltip" title="{{days|index:forloop.counter0}}">{{week_day}}</th>
            {% endfor %}
        </tr>
      </thead>
      {% for vehicle, days_data in vehicles_table.items %}
      <tbody>
        <tr class="{%if vehicle.is_not_bring_back %}not_bring_back{%endif%}">
            <th>
                <a href="{% url 'fleet_mng:vehicle' vehicle.id %}"
                   data-toggle="tooltip" data-html="true"
                   title="{{vehicle.name}}<br>{{vehicle.brand}} {{vehicle.model}}{% if vehicle.generation %}<br>
                        {{vehicle.generation}}{% endif %}<br>{{vehicle.registration_number}}<br>{{vehicle.description}}" >
                    <div class="{%if vehicle.is_rented %}rented{%endif%}">
                    {{vehicle.name}}
                    </div>
                </a>
            </th>
            {% for day_d in days_data %}
            <td class="{%if day_d.present %}rent_bar{% else %}no_rent_bar{% endif %}"
                data-bar="{{ day_d.classes|join:' ' }}"
                {% for rent in day_d.rents %}
                data-bar_tooltip_{{rent.id}}="{{ rent.from_date }} - {{ rent.to_date }}<br>{{rent.vehicle}}<br>{{rent.renter}}"
                {% endfor %}
            >
            </td>
            {% endfor %}
        </tr>
      </tbody>
      {% endfor %}
