<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fleet_mng/style.css' %}">
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    <title>{% block title %}Vehicle Management{% endblock %}</title>
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
    <ul>
        <li><a href="/">Home</a></li>
        {% if perms.fleet_mng.view_vehicle %}
        <li><a href="{% url 'fleet_mng:vehicles' %}">Vehicles</a></li>
        {% endif %}
        {% if perms.fleet_mng.view_renter %}
        <li><a href="{% url 'fleet_mng:renters' %}">Renters</a></li>
        {% endif %}
        {% if perms.fleet_mng.view_rent %}
        <li><a href="{% url 'fleet_mng:rents' %}">Rents</a></li>
        {% endif %}
        {% if perms.fleet_mng.can_show_week %}
        <li><a href="{% url 'fleet_mng:week' %}">Week table</a></li>
        {% endif %}
        {% if perms.auth.view_user %}
        <li><a href="{% url 'fleet_mng:users' %}">Users</a></li>
        {% endif %}
    </ul>
    {% endblock %}
</div>
<div id="userbar">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. <a href="{% url 'logout' %}">Log out</a>.</p>
    {% else %}
    <p>Welcome, new user. Please <a href="{% url 'login' %}">log in</a>.</p>
    {% endif %}
</div>
<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>