{# Wyświetlenie listy przeglądów pojazdu #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
{% load static %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:week' %}">
        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>
</div>

<script src="{% if DOCK %}{% static 'fleet_mng/form_helpers.min.js' %}{%else%}{% static 'fleet_mng/form_helpers.js' %}{%endif%}"></script>

{% if mileages_list %}
<ul class="item-list">
    {% for mileage in mileages_list %}
    <li class="list-group-item list-group-item-action">
        <span>{{ mileage.next_check }}</span>

        {% if perms.fleet_mng.update_vehicle %}
        <form method=post name="confirm_form_{{mileage.id}}" action="{% url 'fleet_mng:mileage_confirm' vehicle.id mileage.id %}"
              onsubmit="_delete(event,this,{% if mileage.checked == 1 %}'Potwierdź anulowanie przeglądu.'{% else %}'Potwierdź przegląd pojazdu.'{% endif %});">
            {% csrf_token %}
            <input type=hidden name="delete" value="{% if mileage.checked == 1 %}0{% else %}1{% endif %}"/>
            <input type=hidden name="confirm" value="0"/>
            {% if mileage.checked == 1 %}
            <button type="submit" class="btn btn-warning">Anuluj</button>
            {% else %}
            <button type="submit" class="btn btn-danger">Potwierdź</button>
            {% endif %}
        </form>
        {% endif %}

    </li>
    {% endfor %}
</ul>
{% else %}
<p>Brak zdefiniowanych przeglądów dla pojazdu.</p>
{% endif %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="container">
        {% for field in form %}
        {% if field.is_hidden %}{{ field }}{% else %}
        <div class="row">
            <label class="col-3"><strong class="float-right">{{ field.label_tag }}</strong></label>
            <div class="col-6">
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% if field.errors %}
                {% for error in field.errors %}
                <div id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="alert alert-danger alert-dismissible"
                     role="alert">
                    <strong>{{ error }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success">Dodaj</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
        <div class="alert alert-block alert-danger">
            {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
            <ul>
                {{ form.non_field_errors|unordered_list }}
            </ul>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
