{# Wyświetlenie danych konkretnego wypożyczającego #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<a href="{% url 'fleet_mng:renters' %}">
    <button class="btn btn-primary btn-sm" type="button"><</button>
</a>
<div class="container">
    <div class="row">
        <div class="col field_name">
            Nazwisko:
        </div>
        <div class="col field_value">
            {{ renter.last_name }}
        </div>
    </div>
    <div class="row">
        <div class="col field_name">
            Imię:
        </div>
        <div class="col field_value">
            {{ renter.first_name }}
        </div>
    </div>
    <div class="row">
        <div class="col field_name">
            Uwagi:
        </div>
        <div class="col field_value">
            {{ renter.description }}
        </div>
    </div>
    {% if perms.fleet_mng.change_renter %}
    <a href="{% url 'fleet_mng:renter_edit' renter.id%}" class="btn">
        <button class="btn btn-primary btn-xs" type="button">Edytuj</button>
    </a>
    {% endif %}
    {% if perms.fleet_mng.delete_renter%}
    <script>
        function _delete(e,a,msg) {
            if(e)
                e.preventDefault();
            else
                window.event.returnValue=false;
            if(window.confirm(msg))
                document.forms.delete_form.confirm.value=1;
                document.forms.delete_form.submit();
        }
    </script>
    <form method=post name="delete_form" action="{% url 'fleet_mng:renter_delete' renter.id %}"
          onsubmit="_delete(event,this,{% if renter.deleted == 1 %}'Potwierdź przywrócenie użytkownika.'{% else %}'Potwierdź usunięcie użytkownika.'{% endif %});"/>
    {% csrf_token %}
    <input type=hidden name="delete" value="{% if renter.deleted == 1 %}0{% else %}1{% endif %}"/>
    <input type=hidden name="confirm" value="0"/>
    <input type=submit value="{% if renter.deleted == 1 %}Przywróć{% else %}Usuń{% endif %}"/>
    </form>
    {% endif %}
</div>
{% endblock %}
