{# Wyświetlenie listy wypożyczeń #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:week' %}">
      <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>
    {% if perms.fleet_mng.add_rent %}
    <a href="{% url 'fleet_mng:rent_form' %}" class="btn">
      <button class="btn btn-primary btn-xs" type="button">Nowe wypożyczenie</button>
    </a>
    {% endif %}
</div>
{% if rent_list %}
<ul>
    {% for rent in rent_list %}
    <li class="list-group-item list-group-item-action {% if not rent.rented %} item_deleted{% endif %}">
      <a href="{% url 'fleet_mng:rent' rent.id %}">{{ rent }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Brak wypożyczeń.</p>
{% endif %}
{% endblock %}
