{# Wyświetlenie danych konkretnego wypożyczenia #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
{% load static %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:week' %}">
        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" id="items-table">
            <tbody>
            <tr>
                <th>Wypożyczony:</th>
                <td>{{ rent.from_date }}</td>
            </tr>
            <tr>
                {%if rent.rented %}
                <th>Termin oddania:</th>
                {%else%}
                <th>Oddano:</th>
                {% endif %}
                <td>
                    <div class="{%if rent.is_not_bring_back %}not_bring_back{%endif%}">
                        {{ rent.to_date }}
                    </div>
                </td>
            </tr>
            <tr>
                <th>Pojazd:</th>
                <td><a href="{% url 'fleet_mng:vehicle' rent.vehicle.id %}">{{ rent.vehicle }}</a></td>
            </tr>
            <tr>
                <th>Wypożyczony przez:</th>
                <td>
                    {% if perms.fleet_mng.view_renter %}
                    <a href="{% url 'fleet_mng:renter' rent.renter.id %}">{{ rent.renter }}</a>
                    {% else %}
                    {{ rent.renter }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Uwagi:</th>
                <td>{{ rent.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="buttons_row">
    {% if perms.fleet_mng.can_mark_returned and rent.rented == 1 %}
    <script src="{% if dock %}{% static 'fleet_mng/form_helpers.min.js' %}{%else%}{% static 'fleet_mng/form_helpers.js' %}{%endif%}"></script>
    <form method=post name="bring_back_form" action="{% url 'fleet_mng:rent_bring_back' rent.id %}"
          onsubmit="_delete(event,this,'Potwierdź zwrot pojazdu.');">
        {% csrf_token %}
        <input type=hidden name="confirm" value="0"/>
        <button type="submit" class="btn btn-primary">Zwróć</button>
    </form>
    {% endif %}

    {% if perms.fleet_mng.change_rent %}
    <a href="{% url 'fleet_mng:rent_edit' rent.id%}">
        <button type="submit" class="btn btn-primary">Edytuj</button>
    </a>
    {% endif %}
</div>
{% endblock %}
