{# Wyświetlenie danych konkretnego wypożyczającego #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
{% load static %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:renters' %}">
        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" id="items-table">
            <tbody>
            <tr>
                <th>Nazwisko:</th>
                <td>{{ renter.last_name }}</td>
            </tr>

            <tr>
                <th>Imię:</th>
                <td>{{ renter.first_name }}</td>
            </tr>
            {% for rent in renter.rented %}
            <tr>
                <th>
                    {% if perms.fleet_mng.view_rent %}
                    <a href="{% url 'fleet_mng:rent' rent.id %}">Wypożycza:</a>
                    {% else %}
                    Wypożycza:
                    {% endif %}
                </th>
                <td>
                    {% if perms.fleet_mng.view_vehicle %}
                    <a href="{% url 'fleet_mng:vehicle' rent.vehicle.id %}">{{ rent.vehicle }}</a>
                    {% else %}
                    {{ rent.vehicle }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th>Uwagi:</th>
                <td>{{ renter.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="buttons_row">
        {% if perms.fleet_mng.change_renter %}
        <a href="{% url 'fleet_mng:renter_edit' renter.id%}" class="btn">
            <button class="btn btn-primary btn-xs" type="button">Edytuj</button>
        </a>
        {% endif %}

        {% if perms.fleet_mng.delete_renter%}
        <script src="{% if dock %}{% static 'fleet_mng/form_helpers.min.js' %}{%else%}{% static 'fleet_mng/form_helpers.js' %}{%endif%}"></script>
        <form method=post name="delete_form" action="{% url 'fleet_mng:renter_delete' renter.id %}"
              onsubmit="_delete(event,this,{% if renter.deleted == 1 %}'Potwierdź przywrócenie użytkownika.'{% else %}'Potwierdź ukrycie użytkownika.'{% endif %});">
            {% csrf_token %}
            <input type=hidden name="delete" value="{% if renter.deleted == 1 %}0{% else %}1{% endif %}"/>
            <input type=hidden name="confirm" value="0"/>
            {% if renter.deleted == 1 %}
            <button type="submit" class="btn btn-warning">Przywróć</button>
            {% else %}
            <button type="submit" class="btn btn-danger">Ukryj</button>
            {% endif %}
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
