{# Wyświetlenie listy wypożyczających #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<a href="{% url 'fleet_mng:week' %}"><button class="btn btn-primary btn-sm" type="button"><</button></a><br>
{% if perms.fleet_mng.add_renter %}
<a href="{% url 'fleet_mng:renter_new' %}" class="btn">
  <button class="btn btn-primary btn-sm" type="button">Nowy wypożyczający</button>
</a>
{% endif %}
{% if renter_list %}
<ul class="item-list">
  {% for renter in renter_list %}
  <li class="list-group-item list-group-item-action">
    <a href="{% url 'fleet_mng:renter' renter.id %}">{{ renter }}</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Brak użytkowników.</p>
{% endif %}
{% endblock %}
