{# Raporty - wyświetlenie < form > i danych #}
{% extends "fleet_mng/_base.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" type="text/css"
      href="{% if DOCK %}{% static 'fleet_mng/week_table.min.css' %}{%else%}{% static 'fleet_mng/week_table.css' %}{%endif%}">{% endblock %}
{% block content %}
{% include "fleet_mng/_form_generic.html" %}

{% if week %}
<div class="table-responsive">
    <table class="table table-bordered" id="week_table">
        {% include "fleet_mng/_week_table.html"%}
    </table>
</div>
{% endif %}

{% for report in reports %}
Samochód: {{ report.vehicle }}
Wypożyczający: {{ report.renter }}
Uwagi: {{ report.description }}
<br>
{% endfor %}

<script src="{% if DOCK %}{% static 'fleet_mng/week.min.js' %}{%else%}{% static 'fleet_mng/week.js' %}{%endif%}"></script>
{% endblock %}
