{# Raporty - wyświetlenie < form > i danych #}
{% extends "fleet_mng/_base.html" %}
{% load static %}
{% block css_link %}
<link rel="stylesheet" type="text/css"
      href="{% if DOCK %}{% static 'fleet_mng/week_table.min.css' %}{%else%}{% static 'fleet_mng/week_table.css' %}{%endif%}">{% endblock %}
{% block content %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:week' %}">
      <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>
</div>

<form method="post" novalidate>
    {% csrf_token %}
    <div class="container">
        {% for field in form %}
        {% if field.is_hidden %}{{ field }}{% else %}
        <div class="row">
            <label class="col-3"><strong class="float-right">{{ field.label_tag }}</strong></label>
            <div class="col-6">
                {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
                {% if field.errors %}
                {% for error in field.errors %}
                <div id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="alert alert-danger alert-dismissible"
                     role="alert">
                    <strong>{{ error }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success">Pokaż</button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% if form.non_field_errors %}
        <div class="alert alert-block alert-danger">
            {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
            <ul>
                {{ form.non_field_errors|unordered_list }}
            </ul>
        </div>
        {% endif %}
    </div>
</form>

{% if week %}
<div class="table-responsive">
    <table class="table table-bordered" id="week_table">
        {% include "fleet_mng/_week_table.html"%}
    </table>
</div>
{% endif %}

{% for report in reports %}
Samochód: {{ report.vehicle }}
Wypożyczający: {{ report.renter }}
Uwagi: {{ report.description }}
<br>
{% endfor %}

<script src="{% if DOCK %}{% static 'fleet_mng/week.min.js' %}{%else%}{% static 'fleet_mng/week.js' %}{%endif%}"></script>
{% endblock %}
