{# Wyświetlenie listy użyszkodników #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:week' %}">
      <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>
    {% if perms.auth.add_user %}
    <a href="{% url 'fleet_mng:user_new' %}" class="btn">
        <button class="btn btn-primary btn-xs" type="button">Nowy użytkownik</button>
    </a>
    {% endif %}
</div>
<ul>
    {% for user in users_list %}
    <li class="list-group-item list-group-item-action{% if not user.is_active %} item_deleted{% endif %}">
        <a href="{% url 'fleet_mng:user' user.id %}">
            {{user.username}}
        </a>
    </li>
    {% empty %}
    <p>Brak użytkowników.</p>
    {% endfor %}
</ul>
{% endblock %}
