{# Wyświetlenie danych konkretnego użyszkodnika #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<!-- <a href="{% url 'fleet_mng:users' %}">
    <button class="btn btn-primary btn-sm" type="button"><</button>
</a> -->
<div class="container">
    <div class="row">
        <div class="col field_name">
            Login:
        </div>
        <div class="col field_value">
            {{ user.username }}
        </div>
    </div>
{% comment %}
    <div class="row">
        <div class="col field_name">
            Imię:
        </div>
        <div class="col field_value">
            {{ user.first_name }}
        </div>
    </div>
    <div class="row">
        <div class="col field_name">
            Nazwisko:
        </div>
        <div class="col field_value">
            {{ user.last_name }}
        </div>
    </div>
    <div class="row">
        <div class="col field_name">
            Email:
        </div>
        <div class="col field_value">
            {{ user.email }}
        </div>
    </div>
{% endcomment %}
    <div class="row">
        <div class="col field_name">
            Groupy:
        </div>
        <div class="col field_value">
            <div class="row">
                {% for group in user.groups.all %}
                <div class="col">
                    {{ group }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if not user.is_active %}
    <div class="row">
        <div class="col field_value">
            Zablokowany.
        </div>
    </div>
    {% endif %}
    {% if perms.auth.change_user %}
    <a href="{% url 'fleet_mng:user_pass' user.id%}" class="btn">
        <button class="btn btn-primary btn-xs" type="button">Hasło</button>
    </a>
    <a href="{% url 'fleet_mng:user_edit' user.id%}" class="btn">
        <button class="btn btn-primary btn-xs" type="button">Edycja</button>
    </a>
    {% endif %}
</div>
{% endblock %}
