{# Wyświetlenie danych konkretnego użyszkodnika #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:users' %}">
        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" id="items-table">
            <tbody>
            <tr>
                <th>Login:</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Grupy:</th>
                <td>{{ user.groups.all|join:", " }}</td>
            </tr>
            <tr>
                <th>Status:</th>
                <td>
                    {% if not user.is_active %}
                    Zablokowany.
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        {% if perms.auth.change_user %}
        <div class="buttons_row">
            <a href="{% url 'fleet_mng:user_edit' user.id%}" class="btn">
                <button class="btn btn-primary btn-xs" type="button">Edycja</button>
            </a>
            <a href="{% url 'fleet_mng:user_pass' user.id%}" class="btn">
                <button class="btn btn-primary btn-xs" type="button">Hasło</button>
            </a>
        </div>
        {% endif %}
    </div>
    {% endblock %}
</div>
