{# Wyświetlenie danych konkretnego pojazdu #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<a href="{% url 'fleet_mng:vehicles' %}"><button class="btn btn-primary btn-sm" type="button"><</button></a><br>
Nazwa: {{ vehicle.name }}<br>
Marka: {{ vehicle.brand }}<br>
Model: {{ vehicle.model }}<br>
Typ: {{ vehicle.generation }}<br>
Nr rej.: {{ vehicle.registration_number }}<br>
Przebieg: {{ vehicle.mileage }}<br>
Przegląd tech.: {{ vehicle.checkup }}<br>
Uwagi: {{ vehicle.description }}<br>
{%if vehicle.is_rented %}
{% for rent in vehicle.get_current_renters %}{%include 'fleet_mng/_rented_by.html'%}{% endfor %}
{% endif %}
{% if perms.fleet_mng.change_vehicle %}
<a href="{% url 'fleet_mng:vehicle_edit' vehicle.id%}" class="btn">
  <button class="btn btn-primary btn-xs" type="button">Edytuj</button>
</a>
{% endif %}
{% endblock %}
