{# Wyświetlenie danych konkretnego pojazdu #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
{% load static %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:vehicles' %}">
        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a><br>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" id="items-table">
            <tbody>
            <tr>
                <th>Nazwa:</th>
                <td>{{ vehicle.name }}</td>
            </tr>

            <tr>
                <th>Marka:</th>
                <td>{{ vehicle.brand }}</td>
            </tr>

            <tr>
                <th>Model:</th>
                <td>{{ vehicle.model }}</td>
            </tr>

            <tr>
                <th>Typ:</th>
                <td>{{ vehicle.generation }}</td>
            </tr>

            <tr>
                <th>Numer rejestracyjny:</th>
                <td>{{ vehicle.registration_number }}</td>
            </tr>

            <tr>
                <th>Przebieg:</th>
                <td>{{ vehicle.mileage }}</td>
            </tr>

            <tr>
                <th>Termin przeglądu:</th>
                <td>{{ vehicle.checkup|default:'------' }}</td>
            </tr>

            <tr>
                <th>Termin ubezpieczenia:</th>
                <td>{{ vehicle.insurance|default:'------' }}</td>
            </tr>

            <tr>
                <th>Uwagi:</th>
                <td>{{ vehicle.description }}</td>
            </tr>

            {%if vehicle.is_rented %}
            {% for rent in vehicle.get_current_renters %}
            <tr>
                <th>
                    {% if perms.fleet_mng.view_rent %}
                    <a href="{% url 'fleet_mng:rent' rent.id %}">Wypożyczony</a> przez:
                    {% else %}
                    Wypożyczony przez:
                    {% endif %}
                </th>
                <td>
                    {% if perms.fleet_mng.view_renter %}
                    <a href="{% url 'fleet_mng:renter' rent.renter.id %}">{{ rent.renter }}</a>
                    {% else %}
                    {{ rent.renter }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Termin oddania:</th>
                <td>
                    {%if rent.rented %}
                    {{rent.to_date}}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="buttons_row">
        {% if perms.fleet_mng.change_vehicle %}
        <a href="{% url 'fleet_mng:vehicle_edit' vehicle.id%}" class="btn">
            <button class="btn btn-primary btn-xs" type="button">Edytuj</button>
        </a>
        {% endif %}

        {% if perms.fleet_mng.delete_vehicle %}
        <script src="{% if DOCK %}{% static 'fleet_mng/form_helpers.min.js' %}{%else%}{% static 'fleet_mng/form_helpers.js' %}{%endif%}"></script>
        <form method=post name="delete_form" action="{% url 'fleet_mng:vehicle_delete' vehicle.id %}"
              onsubmit="_delete(event,this,{% if vehicle.deleted == 1 %}'Potwierdź przywrócenie pojazdu.'{% else %}'Potwierdź ukrycie pojazdu.'{% endif %});">
            {% csrf_token %}
            <input type=hidden name="delete" value="{% if vehicle.deleted == 1 %}0{% else %}1{% endif %}"/>
            <input type=hidden name="confirm" value="0"/>
            {% if vehicle.deleted == 1 %}
            <button type="submit" class="btn btn-warning">Przywróć</button>
            {% else %}
            <button type="submit" class="btn btn-danger">Ukryj</button>
            {% endif %}
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}
