{# Wyświetlenie listy pojazdów #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<a href="{% url 'fleet_mng:week' %}"><button class="btn btn-primary btn-sm" type="button"><</button></a><br>
{% if perms.fleet_mng.add_vehicle %}
<a href="{% url 'fleet_mng:vehicle_new' %}" class="btn">
  <button class="btn btn-primary btn-sm" type="button">Nowy pojazd</button>
</a>
{% endif %}
{% if vehicle_list %}
<ul class="item-list">
    {% for vehicle in vehicle_list %}
    <li class="list-group-item list-group-item-action"><a href="{% url 'fleet_mng:vehicle' vehicle.id %}">{{ vehicle }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>Brak pojazdów.</p>
{% endif %}
{% endblock %}
