{# Wyświetlenie listy pojazdów #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
<div class="buttons_row">
    <a href="{% url 'fleet_mng:week' %}">
        <button class="btn btn-primary btn-sm" type="button"><i class="fa fa-arrow-left fa-lg"></i></button>
    </a>

    {% if perms.fleet_mng.add_vehicle %}
    <a href="{% url 'fleet_mng:vehicle_new' %}" class="btn">
        <button class="btn btn-primary btn-sm" type="button">Nowy pojazd</button>
    </a>
    {% endif %}
</div>
{% if vehicle_list %}
<ul class="item-list">
    {% for vehicle in vehicle_list %}
    {% if perms.fleet_mng.change_vehicle or not vehicle.deleted %}
    <li class="list-group-item list-group-item-action{% if vehicle.deleted %} item_deleted{% endif %}{% if vehicle.is_rented %} has_rents{% endif %}">
        <a href="{% url 'fleet_mng:vehicle' vehicle.id %}">
            {{ vehicle }}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>Brak pojazdów.</p>
{% endif %}
{% endblock %}
