{# Wyświetlenie widoku tygodniowego #}
{% extends "fleet_mng/_base.html" %}
{% load static %}
{% block css_link %}<link rel="stylesheet" type="text/css" href="{% static 'fleet_mng/week_table.css' %}">{% endblock %}
{% block content %}
{% if perms.fleet_mng.add_rent %}
<a href="{% url 'fleet_mng:rent_form' %}" class="btn">
    <button class="btn btn-primary btn-xs" type="button">Nowe wypożyczenie</button>
</a>
{% endif %}
<div class="table-responsive">
    <table class="table table-bordered" id="week_table">
        {% include "fleet_mng/_week_table.html"%}
    </table>
</div>
<script>
    Array.prototype.diff = function(a) {
        return this.filter(function(i) {return a.indexOf(i) < 0;});
    };
    function create_links(wrapper, tab, class_str, tooltips_nrs, tooltips_texts){
        for (let i=0; i<tab.length; i++) {
            wrapper.append('<a class="'+
                class_str+
                (rented.indexOf(tab[i])>=0?' rented':'')+
                (back.indexOf(tab[i])>=0?' not_back':'')+
                '" href="{% url 'fleet_mng:rents' %}'+
                tab[i]+
                '/"'+
                ' data-toggle="tooltip" data-html="true" title="'+
                tooltips_texts[tooltips_nrs.indexOf(tab[i])]+
                '"'+
                '></a>');
        }
    };
    function create_bars_in_table(){
        $('#week_table').find( ".rent_bar" ).each(function() {
            data=$( this ).attr('data-bar').split(/\s+/);
            firsts=[]
            lasts=[]
            mids = []
            mids_tt = []
            tt = []
            rented=[]
            back=[]
            //
             for (let i=0; i<data.length; i++) {
                beg = data[i].substr(0,2)
                nr = data[i].substr(2)
                if(beg=='l_'){
                    lasts.push(nr)
                }else  if(beg=='f_'){
                    firsts.push(nr)
                }else  if(beg=='m_'){
                    mids.push(nr)
                    mids_tt.push(nr)
                    tt.push($( this ).attr('data-bar_tooltip_'+nr))
                }else  if(beg=='r_'){
                    rented.push(nr)
                }else  if(beg=='b_'){
                    back.push(nr)
                }
             }
             //
            shared=[]
            for (let i=0; i<lasts.length; i++) {
                if(firsts.indexOf(lasts[i])!=-1){
                    shared.push(lasts[i])
                    firsts.splice(firsts.indexOf(lasts[i]),1)
                    lasts.splice(i,1)
                    i--
                };
            }
            //
            mids = mids.diff(firsts).diff(lasts).diff(shared)
            //
            $(this).append('<div class="rent_wrapper"></div>')
            wrapper=$(this).find(".rent_wrapper")
            //
            create_links(wrapper, lasts, "end_rent", mids_tt, tt)
            create_links(wrapper, shared, "start_end_rent", mids_tt, tt)
            create_links(wrapper, firsts, "start_rent", mids_tt, tt)
            create_links(wrapper, mids, "mid_rent", mids_tt, tt)
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    }
    jQuery(document).ready(function($){
        create_bars_in_table()
    })


</script>
<a href="{% url 'fleet_mng:week_date' nav.prev_week.year nav.prev_week.month nav.prev_week.day %}"
   class="btn week_nav prev_week"
   data-nav_target="{% url 'fleet_mng:ajax_week_date' nav.prev_week.year nav.prev_week.month nav.prev_week.day %}">
    <button type="button" class="btn btn-primary btn-xs"><<</button>
</a>
<a href="{% url 'fleet_mng:week_date' nav.prev.year nav.prev.month nav.prev.day %}"
   class="btn week_nav prev"
   data-nav_target="{% url 'fleet_mng:ajax_week_date' nav.prev.year nav.prev.month nav.prev.day %}">
    <button type="button" class="btn btn-primary btn-xs"><</button>
</a>
...
<a href="{% url 'fleet_mng:week_date' nav.next.year nav.next.month nav.next.day %}"
   class="btn week_nav next"
   data-nav_target="{% url 'fleet_mng:ajax_week_date' nav.next.year nav.next.month nav.next.day %}">
    <button type="button" class="btn btn-primary btn-xs">></button>
</a>
<a href="{% url 'fleet_mng:week_date' nav.next_week.year nav.next_week.month nav.next_week.day %}"
   class="btn week_nav next_week"
   data-nav_target="{% url 'fleet_mng:ajax_week_date' nav.next_week.year nav.next_week.month nav.next_week.day %}">
    <button type="button" class="btn btn-primary btn-xs">>></button>
</a>
<script>
    jQuery(document).ready(function($){
        $('body').find( "a.week_nav" ).click(function(event) {
            event.preventDefault();
            //get data
            $.get( $(this).attr('data-nav_target'), function( data ) {
              //update table data
              $('#week_table').html( data.table_html );
              create_bars_in_table()
              //update buttons data
              $('a.week_nav.prev').attr('data-nav_target', data.nav.prev.ajax_link)
              $('a.week_nav.prev').attr('href', data.nav.prev.link)

              $('a.week_nav.prev_week').attr('data-nav_target', data.nav.prev_week.ajax_link)
              $('a.week_nav.prev_week').attr('href', data.nav.prev_week.link)

              $('a.week_nav.next').attr('data-nav_target', data.nav.next.ajax_link)
              $('a.week_nav.next').attr('href', data.nav.next.link)

              $('a.week_nav.next_week').attr('data-nav_target', data.nav.next_week.ajax_link)
              $('a.week_nav.next_week').attr('href', data.nav.next_week.link)
            });
        })
    })

</script>
{% endblock %}
