{# Wyświetlenie widoku tygodniowego #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
{% if perms.fleet_mng.add_rent %}
<a href="{% url 'fleet_mng:rent_form' %}" class="btn">
  <button class="btn btn-primary btn-xs" type="button">Nowe wypożyczenie</button>
</a>
{% endif %}
<div class="table-responsive">
  <table class="table table-bordered" id="week_table">
      <thead>
        <tr>
            <th rowspan="2">
                Pojazdy
            </th>
            {% for day in days %}{%if forloop.counter0|divisibleby:7 %}
            <th colspan="7">{{ day }}</th>
            {%endif%}
            {% endfor %}
        </tr>
        <tr>
            {% load index %}
            {% for week_day in week_days %}
            <th data-toggle="tooltip" title="{{days|index:forloop.counter0}}">{{week_day}}</th>
            {% endfor %}
        </tr>
      </thead>
      {% for vehicle, days_data in vehicles_table.items %}
      <tbody>
        <tr class="{%if vehicle.is_not_bring_back %}not_bring_back{%endif%}">
            <th>
                <a href="{% url 'fleet_mng:vehicle' vehicle.id %}"
                   data-toggle="tooltip" data-html="true"
                   title="{{vehicle.name}}<br>{{vehicle.brand}} {{vehicle.model}}{% if vehicle.generation %}<br>
                        {{vehicle.generation}}{% endif %}<br>{{vehicle.registration_number}}<br>{{vehicle.description}}" >
                    <div class="{%if vehicle.is_rented %}rented{%endif%}">
                    {{vehicle.name}}
                    </div>
                </a>
            </th>
            {% for day_d in days_data %}
            <td class="{%if day_d.present %}rent_bar{% else %}no_rent_bar{% endif %}"
                data-bar="{{ day_d.classes|join:' ' }}"
                {% for rent in day_d.rents %}
                data-bar_tooltip_{{rent.id}}="{{ rent.from_date }} - {{ rent.to_date }}<br>{{rent.vehicle}}<br>{{rent.renter}}"
                {% endfor %}
            >
            </td>
            {% endfor %}
        </tr>
      </tbody>
      {% endfor %}
  </table>
</div>
<script>
    Array.prototype.diff = function(a) {
        return this.filter(function(i) {return a.indexOf(i) < 0;});
    };
    function create_links(wrapper, tab, class_str, tooltips_nrs, tooltips_texts){
        for (let i=0; i<tab.length; i++) {
            wrapper.append('<a class="'+
                class_str+
                (rented.indexOf(tab[i])>=0?' rented':'')+
                (back.indexOf(tab[i])>=0?' not_back':'')+
                '" href="{% url 'fleet_mng:rents' %}'+
                tab[i]+
                '/"'+
                ' data-toggle="tooltip" data-html="true" title="'+
                tooltips_texts[tooltips_nrs.indexOf(tab[i])]+
                '"'+
                '></a>');
        }
    };
    jQuery(document).ready(function($){
        $('#week_table').find( ".rent_bar" ).each(function() {
            data=$( this ).attr('data-bar').split(/\s+/);
            firsts=[]
            lasts=[]
            mids = []
            mids_tt = []
            tt = []
            rented=[]
            back=[]
            //
             for (let i=0; i<data.length; i++) {
                beg = data[i].substr(0,2)
                nr = data[i].substr(2)
                if(beg=='l_'){
                    lasts.push(nr)
                }else  if(beg=='f_'){
                    firsts.push(nr)
                }else  if(beg=='m_'){
                    mids.push(nr)
                    mids_tt.push(nr)
                    tt.push($( this ).attr('data-bar_tooltip_'+nr))
                }else  if(beg=='r_'){
                    rented.push(nr)
                }else  if(beg=='b_'){
                    back.push(nr)
                }
             }
             //
            shared=[]
            for (let i=0; i<lasts.length; i++) {
                if(firsts.indexOf(lasts[i])!=-1){
                    shared.push(lasts[i])
                    firsts.splice(firsts.indexOf(lasts[i]),1)
                    lasts.splice(i,1)
                    i--
                };
            }
            //
            mids = mids.diff(firsts).diff(lasts).diff(shared)
            //
            $(this).append('<div class="rent_wrapper"></div>')
            wrapper=$(this).find(".rent_wrapper")
            //
            create_links(wrapper, lasts, "end_rent", mids_tt, tt)
            create_links(wrapper, shared, "start_end_rent", mids_tt, tt)
            create_links(wrapper, firsts, "start_rent", mids_tt, tt)
            create_links(wrapper, mids, "mid_rent", mids_tt, tt)
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    })

</script>
<a href="{% url 'fleet_mng:week_date' nav.prev_week.year nav.prev_week.month nav.prev_week.day %}" class="btn">
  <button type="button" class="btn btn-primary btn-xs"><<</button>
</a>
<a href="{% url 'fleet_mng:week_date' nav.prev.year nav.prev.month nav.prev.day %}" class="btn">
  <button type="button" class="btn btn-primary btn-xs"><</button>
</a>
...
<a href="{% url 'fleet_mng:week_date' nav.next.year nav.next.month nav.next.day %}" class="btn">
  <button type="button" class="btn btn-primary btn-xs">></button>
</a>
<a href="{% url 'fleet_mng:week_date' nav.next_week.year nav.next_week.month nav.next_week.day %}" class="btn">
  <button type="button" class="btn btn-primary btn-xs">>></button>
</a>
{% endblock %}
