{# Wyświetlenie widoku tygodniowego #}
{% extends "fleet_mng/_base.html" %}
{% block content %}
{% if perms.fleet_mng.add_rent %}
<a href="{% url 'fleet_mng:rent_form' %}" id="newrentbt">Nowe wypożyczenie</a>
{% endif %}
<table id="week_table">
    <tr>
        <th rowspan="2">
            Vehicle
        </th>
        {% for d in days %}{%if forloop.counter0|divisibleby:7 %}
        <th colspan="7">{{ d }}</th>
        {%endif%}
        {% endfor %}
    </tr>
    <tr>

        {% for d in days %}
        <th>{{d.day}}</th>
        {% endfor %}
    </tr>
    {% for vehicle, d in vehicles_table.items %}
    <tr class="{%if vehicle.is_not_bring_back %}not_bring_back{%endif%}">
        <th>
            <div class="{%if vehicle.is_rented %}rented{%endif%}">
                {{vehicle}}
            </div>
        </th>
        {% for h in d %}
        <td class="{%if h.present %}rent_bar{% else %}no_rent_bar{% endif %}" data-bar="{{ h.classes|join:' ' }}">
        </td>
        {% endfor %}
    </tr>
    {% endfor %}

</table>
<script>
    Array.prototype.diff = function(a) {
        return this.filter(function(i) {return a.indexOf(i) < 0;});
    };
    function create_links(wrapper,tab,class_str){
        for (let i=0; i<tab.length; i++) {
            wrapper.append('<a class="'+
                class_str+
                (rented.indexOf(tab[i])>=0?' rented':'')+
                (back.indexOf(tab[i])>=0?' not_back':'')+
                '" href="/rent/'+
                tab[i]+
                '/"></a>');
        }
    };
    jQuery(document).ready(function($){
        $('#week_table').find( ".rent_bar" ).each(function() {
            data=$( this ).attr('data-bar').split(/\s+/);
            firsts=[]
            lasts=[]
            mids = []
            rented=[]
            back=[]
            //
             for (let i=0; i<data.length; i++) {
                if(data[i].substr(0,2)=='l_'){
                    lasts.push(data[i].substr(2))
                }else  if(data[i].substr(0,2)=='f_'){
                    firsts.push(data[i].substr(2))
                }else  if(data[i].substr(0,2)=='m_'){
                    mids.push(data[i].substr(2))
                }else  if(data[i].substr(0,2)=='r_'){
                    rented.push(data[i].substr(2))
                }else  if(data[i].substr(0,2)=='b_'){
                    back.push(data[i].substr(2))
                }
             }
             //
            shared=[]
            for (let i=0; i<lasts.length; i++) {
                if(firsts.indexOf(lasts[i])!=-1){
                    shared.push(lasts[i])
                    firsts.splice(firsts.indexOf(lasts[i]),1)
                    lasts.splice(i,1)
                    i--
                };
            }
            //
            mids = mids.diff(firsts).diff(lasts).diff(shared)
            //
            $(this).append('<div class="rent_wrapper"></div>')
            wrapper=$(this).find(".rent_wrapper")
            //
            create_links(wrapper, lasts, "end_rent")
            create_links(wrapper, shared, "start_end_rent")
            create_links(wrapper, firsts, "start_rent")
            create_links(wrapper, mids, "mid_rent")
        });
    })


</script>
<a href="{% url 'fleet_mng:week_date' nav.prev_week.year nav.prev_week.month nav.prev_week.day %}"><<</a>
<a href="{% url 'fleet_mng:week_date' nav.prev.year nav.prev.month nav.prev.day %}"><</a>
...
<a href="{% url 'fleet_mng:week_date' nav.next.year nav.next.month nav.next.day %}">></a>
<a href="{% url 'fleet_mng:week_date' nav.next_week.year nav.next_week.month nav.next_week.day %}">>></a>
{% endblock %}
